body, html
{
    height: 100%;
}

h2
{
    font-size: 30px;
    border-bottom: 3px solid #666666;
}

h6
{
    font-weight: bold;
    border-bottom: 2px solid #666666;
}

h5
{
    font-weight: bold;
    color: #777777;
}

h4
{
    overflow: hidden;
    font-size: 22px;
    font-weight: bold;
    margin: auto;
    height: 30px;
    color: #000000;
}

p
{
    line-height: 1.5;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-bottom: 30px;
}

.gem-btn
{
    width: 100%;
}

.gem-div
{
    height: 250px;
    overflow: visible;
    position: relative;
}

.score-img
{
    position: absolute;
    opacity: 0;
    left: 40%;
    top: -15%;
}

#page-body
{
    background-image: url("../images/mosaic.png");
    flex: 1 0 auto;
}

#right-col
{
    flex: 1 0 auto;
}

#file
{
    border: 2px solid #666666;
}

#sticky-footer
{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

.header-class
{
    font-family: Georgia, Times, serif;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 30px;
    border-bottom: 3px solid #666666;
    padding: 20px 0px;
}

.select-btn
{
    display: block;
    margin-top: 20px;
    width: 100%;
}

#phrase
{
    margin: auto;
    border: 3px solid #666666;
}

.img-container
{
    position: relative;
}

.img-item
{
    position: absolute;
}
